version: "3.8"

services:
  bitcask:
    build: .
    container_name: bitcask
    ports:
      - "7379:7379"
      - "2112:2112"
    volumes:
      - ./data:/app/data
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - bitcask

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data:
